<div class="content">
    <div class="hero hero--indigo">
        <div class="hero__content">
            <div class="container center-xs">
                <div class="row">
                    <div class="col-md-4 col-xl-2">
                        <img style="max-height:150px" src="public/img/CiscoUIMainLogo-2.png">
                    </div>
                    <div class="col-md-8 col-xl-10">
                        <div class="flex-fluid">
                            <h1>Topology in real time <sup class="text-large hidden-xs">0.1</sup></h1>
                            <p class="text-large">A web visualization for topology based in telemetry </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div id="broadcast" class="alert hide">
                <div class="alert__icon icon-info-circle"></div>
                <div id="broadcast-msg" class="alert__message"></div>
            </div>
            <div class="secondary-tabs">
                <div class="tab-content">
                    <div id="tab-intro-content" class="tab-pane active">
                        <div class="panel panel--loose panel--bordered">
                            <div class="row">
                                <div class="col-md-8 text-large">
                                    <h1 class="text-huge text-blue base-margin-bottom">Get to know your network</h1>
                                    <p>Knowing the topology in real time via telemetry allows to understand how your network really is and
                                        it is an starting point to get to the desired network state.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>